@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(185, 185, 185);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    box-sizing: content-box;
    width: 50%;
    height: 40%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 7px 7px 7px rgba(49, 49, 49, 0.4);
}

.cardButton{
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
}

.cardButton:active{
    border: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
}